@import 'color';
@import 'variable';
@import 'mixin/media-query';

$menuItemCl: $grey;
$menuItemOnBr: $blue;

.menu {
	display: flex;
	text-transform: uppercase;
	overflow-x: auto;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.menu__item {
	position: relative;
	display: inline-block;
	padding: 20px 0;
	font-size: 14px;
	color: $menuItemCl;
	line-height: 1;

	@include mq($from: $breakpointDesktop) {
		padding: 20px 0;
		font-size: 15px;
	}

	& + & {
		margin-left: 22px;

		@include mq($from: $breakpointDesktop) {
			margin-left: 3.5%;
		}
	}

	&--selected::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 2px;
		background: $menuItemOnBr;
	}
}
