@import 'color';
@import 'variable';
@import 'mixin/media-query';

$overviewCl: $greyLight;
$overviewNameCl: $greyLight;
$overviewIconCl: rgba($greyLight, 0.7);
$overviewIconBlueCl: $blueDarker;

.overview {
	margin-top: 20px;
	color: rgba($grey, 0.8);
	font-size: 13px;
	line-height: 1;

	@media (min-width: $breakpointDesktop) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 24px;
		color: $overviewCl;
		font-size: 14px;
	}
}

.overview__row {
	margin-bottom: 10px;
}

.overview__row--review {
	white-space: nowrap;
}

.overview__row--name {
	margin-bottom: 20px;
	color: $overviewNameCl;
	font-size: 20px;
	font-weight: 600;
	text-align: center;

	@media (min-width: $breakpointDesktop) {
		flex: 1;
		margin-bottom: 16px;
		text-align: left;
	}
}

.overview__row--address {
	@media (min-width: $breakpointDesktop) {
		width: 100%;
		order: 4;
	}
}

.overview__row--phone {
	font-size: 12px;

	@media (min-width: $breakpointDesktop) {
		width: 100%;
		font-size: 1em;
		order: 5;
	}
}

.overview__row--rating {
	@media (min-width: $breakpointDesktop) {
		margin-right: 30px;
	}
}

.overview__icon {
	color: $overviewIconCl;
	font-size: 20px;

	@media (min-width: $breakpointDesktop) {
		margin-left: -0.2em;
	}
}

.overview__icon--blue {
	color: $overviewIconBlueCl;
}
