@import 'color';
@import 'variable';
@import 'mixin/clearfix-micro';
@import 'mixin/media-query';

$pageItemBg: $mainColor;
$pageItemBr: $blueLight;
$pageItemSh: $blueLight;

.page {
	min-width: 320px;
	max-width: 1170px;
	margin: 0 auto;
}

.page__item {
	position: relative;
	padding: 20px;

	@extend %clearfix-micro;

	@include mq($from: $breakpointDesktop) {
		background: $pageItemBg;
	}

	& + & {
		margin-top: 15px;

		@include mq($from: $breakpointDesktop) {
			margin-top: 20px;
		}
	}
}

.page__item--inverse {
	background: $pageItemBg;
	border: solid $pageItemBr;
	border-width: 1px 0;

	@include mq($from: $breakpointDesktop) {
		padding: 40px;
		border: none;
		border-radius: 3px;
		box-shadow: 0 0 3px $pageItemSh;
	}
}

.page__item--no-bottom {
	padding-bottom: 0;
}
