@import 'color';
@import 'variable';
@import 'mixin/media-query';

$contentTitleCl: $greyLighter;

.content {
	position: relative;
	padding-bottom: 40px;

	@include mq($from: $breakpointDesktop) {
		min-height: 580px;
	}
}

.content__title {
	margin: 5px 0 20px;
	color: $contentTitleCl;
	font-size: 20px;
	font-weight: normal;

	@include mq($from: $breakpointDesktop) {
		margin-bottom: 40px;
		font-size: 24px;
	}
}
