@import 'color';
@import 'variable';
@import 'mixin/media-query';

$buttonBr: $blueLight;
$buttonCl: $greyLighter;
$buttonIconCl: $blueLight;
$buttonActionBg: $white;
$buttonActionBr: $blue;
$buttonActionCl: $blue;

.button {
	display: inline-block;
	padding: 10px 20px;
	color: $buttonCl;
	font-size: 15px;
	line-height: 1;
	cursor: pointer;

	@include mq($from: $breakpointDesktop) {
		border: solid 1px $buttonBr;
		border-radius: 3px;
	}
}

.button--strong {
	font-weight: bold;
}

.button--small {
	font-size: 14px;
}

.button--action {
	color: $buttonActionCl;
	font-size: 12px;
	padding: 0;
	text-transform: uppercase;

	@include mq($from: $breakpointDesktop) {
		width: 95px;
		height: 30px;
		background: $buttonActionBg;
		border-color: $buttonActionBr;
		font-size: 12px;
		font-weight: bold;
		line-height: 30px;
		text-align: center;
		vertical-align: middle;
	}

	&.button--full {
		@include mq($from: $breakpointDesktop) {
			background: $buttonActionCl;
			color: $buttonActionBg;
		}
	}

	&.button--small {
		font-size: 14px;
	}
}

.button__icon {
	display: inline-block;
	margin-right: 12px;
	color: $buttonIconCl;
	font-size: 28px;
	line-height: 0;
}
