@import 'color';
@import 'variable';
@import 'mixin/media-query';

$ratingCl: $blue;
$ratingDesktopCl: $greyLighter;

.rating {
	color: $ratingCl;
	font-size: 20px;

	@include mq($from: $breakpointDesktop) {
		color: $ratingDesktopCl;
	}
}

.rating__item {
	display: inline-block;
	width: 14px;
	height: 18px;
	line-height: 0;

	@include mq($from: $breakpointDesktop) {
		width: 18px;
		height: 22px;
	}
}
