@import 'color';

.icon {
	vertical-align: middle;
}

/* copied styles applied by ion-icon js */
.icon--v3 {
	display: inline-block;

	.icon-inner {
		display: block;
		height: 1em;
		width: 1em;
	}

	svg {
		fill: currentColor;
		stroke: currentColor;
	}
}
