@import 'color';
@import 'variable';
@import 'mixin/media-query';

$headerTabsBg: $mainColor;
$headerTabsSh: $blueLight;

.header {
	position: relative;
	align-items: flex-end;
	@media (min-width: $breakpointDesktop) {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
}

.header__top {
	width: 100%;
	text-align: right;
}

.header__image {
	display: table;
	margin: 40px auto 20px;

	@media (min-width: $breakpointDesktop) {
		position: absolute;
		left: 0;
		bottom: 2px;
		z-index: 5;
	}
}

.header__subtitle {
	display: none;

	@media (min-width: $breakpointDesktop) {
		display: block;
		width: 100%;
		text-align: center;
	}
}

.header__body {
	@media (min-width: $breakpointDesktop) {
		width: 100%;
		padding-left: 190px;
	}
}

.header__action {
	margin: 24px 0 20px;
	position: relative;
	order: 10;
	z-index: 2;

	@media (min-width: $breakpointDesktop) {
		margin: 0;
	}
}

.header__tabs {
	flex: 1;
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		left: -20px;
		right: -20px;
		height: 52px;
		bottom: 0;
		background: $headerTabsBg;
		box-shadow: 0 0 3px $headerTabsSh;
		z-index: -1;
	}

	@media (min-width: $breakpointDesktop) {
		padding-left: 190px;
	}
}
