@import 'color';
@import 'variable';
@import 'mixin/media-query';

$reviewCl: $greyLight;
$reviewDesktopCl: $greyLighter;

$reviewIconCl: $greyLightest;

$reviewAltCl: $greyLightest;
$reviewAltCountCl: $black;

.review {
	color: rgba($reviewCl, 0.8);
	font-size: 13px;

	@include mq($from: $breakpointDesktop) {
		color: $reviewDesktopCl;
	}
}

.review__count {
	display: inline-block;
	width: 1.4em;
	color: $reviewCl;
	font-size: 14px;
	font-weight: 600;
	text-align: center;

	@include mq($from: $breakpointDesktop) {
		padding-right: 20px;
		color: inherit;
	}
}

.review__icon {
	color: $reviewIconCl;
	font-size: 28px;
	line-height: 0;

	@include mq($from: $breakpointDesktop) {
		margin-right: 20px;
	}
}

.review--alt {
	@include mq($from: $breakpointDesktop) {
		color: $reviewAltCl;
	}
	.review__count {
		@include mq($from: $breakpointDesktop) {
			padding-right: 4px;
			color: $reviewAltCountCl;
		}
	}
}
