@import 'variable';
@import 'mixin/media-query';

.avatar {
	width: 127px;
	padding-bottom: 100%;
	background: url(~img/profile_image.jpg) top right -60px no-repeat;

	@include mq($from: $breakpointDesktop) {
		width: 170px;
		background-position: top right -40px;
	}
}
