@import 'color';
@import 'variable';
@import 'mixin/media-query';

$formButtonCl: $blue;
$formLabelCl: $greyLightest;
$formFieldBr: $blueLight;
$formFieldCl: $greyLight;
$formFieldOnBr: $blue;

.form {
	padding-top: 1px;

	@include mq($from: $breakpointDesktop) {
		min-width: 255px;
		padding: 0;
	}
}

.form__action {
	position: absolute;
	top: 2px;
	right: 0;

	@include mq($from: $breakpointDesktop) {
		position: static;
		display: flex;
		margin-top: 6px;
	}
}

.form__button {
	/* display: inline-block;
	background: transparent;
	border: 0;
	color: $formButtonCl;
	font-size: 14px;
	line-height: 2em;
	text-transform: uppercase;
	vertical-align: middle;
	
	& + & {
		margin-left: 30px;
	} */
}

.form__button--cancel {
	margin-right: 30px;

	@include mq($from: $breakpointDesktop) {
		margin: 0 0 0 20px;
		order: 1;
	}
}

.form__row {
	position: relative;
	margin-top: 18px;
	padding-bottom: 14px;
}

.form__label {
	position: absolute;
	left: 0;
	bottom: 100%;
	color: $formFieldCl;
	font-size: 16px;
	text-transform: uppercase;
	transform: translateY(28px) scale(1);
	transform-origin: top left;
	transition: transform 0.3s;

	.form__row--has-value & {
		color: $formLabelCl;
		transform: translateY(6px) scale(0.75);
	}
}

.form__field {
	width: 100%;
	height: 34px;
	border-bottom: solid 1px $formFieldBr;
	color: $formFieldCl;
	font-size: 16px;
	font-family: 'Open Sans';
	vertical-align: middle;
	transition: border-color 0.3s;

	&:focus {
		border-color: $formFieldOnBr;
	}
}
