@import 'color';
@import 'variable';
@import 'mixin/media-query';

$profileCl: $greyLight;
$profileEditBg: $blueLighter;
$profileEditCl: $greyLighter;
$profileIconCl: $blueDarker;
$profileFieldDesktopBg: $blueLightest;
$profileFieldOnDesktopBg: $blue;
$profileFieldOnDesktopCl: $white;

.profile {
	color: $profileCl;
	font-size: 14px;

	@include mq($from: $breakpointDesktop) {
		margin-left: -5px;
	}
}

.profile__action {
	position: absolute;
	top: 0;
	right: 0;
}

.profile__edit {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 25px;
	background: $profileEditBg;
	color: $profileEditCl;
	line-height: 0;
}

.profile__edit--mobile {
	@include mq($from: $breakpointDesktop) {
		display: none;
	}
}

.profile__edit--desktop {
	display: none;

	@include mq($from: $breakpointDesktop) {
		display: inline-flex;
		width: 43px;
		height: 100%;
		cursor: pointer;
		vertical-align: middle;
	}

	&:hover {
		@include mq($from: $breakpointDesktop) {
			background: $profileFieldOnDesktopBg;
			color: $profileFieldOnDesktopCl;
		}
	}
}

.profile__row {
	@include mq($from: $breakpointDesktop) {
		position: relative;
		display: table;
		height: 37px;
	}

	& + & {
		margin-top: 20px;

		@include mq($from: $breakpointDesktop) {
			margin-top: 1px;
		}
	}
}

.profile__row--name {
	font-size: 16px;
	font-weight: 600;
}

.profile__icon {
	margin-right: 8px;
	color: $profileIconCl;
	font-size: 20px;
	line-height: 0;
}

.profile__field {
	@include mq($from: $breakpointDesktop) {
		display: inline-flex;
		align-items: center;
		height: 100%;
		padding: 0 25px 0 5px;
		background: $profileFieldDesktopBg;
		vertical-align: middle;
	}
}

.profile__field--short {
	@include mq($from: $breakpointDesktop) {
		padding-right: 15px;
	}
}

.profile__modal {
	display: none;

	@include mq($from: $breakpointDesktop) {
		position: absolute;
		top: -9px;
		right: 43px;
		display: block;
	}
}
