$black: #000;

$blueLightest: #f5f8f9;
$blueLighter: #ebf1f5;
$blueLight: #d0dce7;
$blue: #007ee5;
$blueDarker: #a7b7c3;

$greyLightest: #a6b0b7;
$greyLighter: #727e88;
$greyLight: #3f4549;
$grey: #333333;

$white: #fff;

$mainColor: $white;
$altColor: $grey;
$altColor2: $blueLightest;
