@import 'color';
@import 'variable';
@import 'mixin/media-query';

$bodyBg: $altColor2;
$bodyCl: $altColor;

* {
	box-sizing: border-box;
}

body {
	margin: 0 0 34px;
	background: $bodyBg;
	color: $altColor;
	font-family: 'Open Sans';

	@include mq($from: $breakpointDesktop) {
		margin: 70px 0;
	}
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

input,
button,
textarea {
	background: transparent;
	border: none;

	&:focus {
		outline: none;
	}
}
