@import 'color';
@import 'variable';
@import 'mixin/media-query';

$modalBg: $white;
$modalSh: $greyLightest;

.modal {
	@include mq($from: $breakpointDesktop) {
		position: absolute;
		padding: 20px;
		background: $modalBg;
		border-radius: 3px;
		box-shadow: 0 0 25px $modalSh;
		z-index: 1000;
	}

	&::before {
		@include mq($from: $breakpointDesktop) {
			content: '';
			position: absolute;
			top: 16px;
			right: 100%;
			width: 0;
			height: 0;
			border: solid transparent;
			border-width: 10px 12px;
			border-right-color: $modalBg;
		}
	}
}
