@mixin mq($from: null, $to: null) {
	$query: '';

	@if ($from) {
		@if ($from != 0) {
			$query: '(min-width: ' + $from + ')';
		}
	}

	@if ($to) {
		@if ($query != '') {
			$query: $query + ' and ';
		}
		$query: $query + '(max-width: ' + $to + ')';
	}

	@if ($query != '') {
		@media #{$query} {
			@content;
		}
	} @else {
		@content;
	}
}
